body {
    width: 98vw;
    height: 95vh;

    background-color: white;

    font-family: sans-serif;
}

#corp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;
}

p {
    font-size: 13px;
    font-weight: bold;

    margin: 5px 0px;
}

#container {
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 10px;
}

.genericContainer {
    margin-bottom: 20px;

    width: 300px;
}

input {
    border: 2px solid #0e3C87;
    border-radius: 4px;
    height: 30px;
    width: 100%;

    padding: 10px 10px 10px 20px;

    font-size: 1.25em;
}

input:invalid {
    border: 2px solid red;
}

#cardInfos {
    display: flex;
    flex-direction: row;

    width: 300px;
}

#cardInfos input {
    width: 100px;

    margin-right: 20px;
}

button {
    margin-top: 20px;

    background-color: #0e3C87;
    color: white;
    border-radius: 4px;
    border: #0e3C87 solid 1px;

    width: 100px;
    height: 30px;
}

#credit-card {
    display: flex;
    flex-direction: column;

    background-color: rgb(241,241,239);
    border-radius: 10px;
    border-top: 50px solid #0e3C87;

    width: 300px;
    height: 150px;

    filter: drop-shadow(0px 0px 5px #0e3C87);

    font-family: 'Courier New', Courier, monospace;

    padding: 40px 10px 10px 30px;

}

#credit-card span {
    font-size: 20px;
    font-weight: bold;
}